BasedOnStyle: LLVM
ColumnLimit: 0
SpaceBeforeParens: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine : true
AllowShortLoopsOnASingleLine : true
AllowShortFunctionsOnASingleLine : 'All'
AlignConsecutiveAssignments : true
AlignConsecutiveDeclarations : true
AlignConsecutiveBitFields : true
AlignTrailingComments : true
IndentWidth : 2